<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../srcs/bootstrap-5.0.2-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Fruits Boxes</title>
</head>
<body>
    <div id="pdt-banner">
        <div class="banner_menu">
            This is where the heading will be
        </div>
        <img src="../../srcs/img/veg_banner.jpg" alt="" class="banner-img">
        <div class="pdt-wrd">
            <h2>Fruits Boxes</h2>
        </div>
        <div class="pdt-desc">
            Enjoy the best of both worlds with our organic fruits and vegetables. We deliver a changing selection of organic fruits and vegetables 
            to your door, sorting the week's healthy cooking and snacking in one swoop. Every variety is 100% organic and preserved for maximum flavour.
        </div>
    </div>
    <div class="veg-main">
        <div class="veg-category-boxes mb-5">
            <h6>Fruits Boxes</h6>
        </div>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
                <div class="col">
                <div class="card h-100">
                    <img src="../../srcs/img/mangoes.jpg" class="card-img-top card-img-top px-2 py-2" alt="...">
                    <div class="card-body text-center my-4">
                    <h4 class="card-title">Apple Mangoes</h4>
                    <h6 class="quantity my-3" style="font-weight: lighter;">medium</h6>
                    <h6 class="price my-3" style="font-weight: lighter;">Ugx. 5000</h6>
                    <button type="button" class="btn btn-lg add2cart-btn"><i class="fa-sharp fa-solid fa-cart-shopping px-2"></i>Add to cart</button>
                    </div>
                </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                    <img src="../../srcs/img/avocado.jpg" class="card-img-top px-2 py-2" alt="...">
                    <div class="card-body text-center my-4">
                        <h4 class="card-title">Avocado</h4>
                        <h6 class="quantity my-3" style="font-weight: lighter;">medium</h6>
                        <h6 class="price my-3" style="font-weight: lighter;">Ugx. 5000</h6>
                        <button type="button" class="btn btn-lg add2cart-btn"><i class="fa-sharp fa-solid fa-cart-shopping px-2"></i>Add to cart</button>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                    <img src="../../srcs/img/watermelon.jpg" class="card-img-top px-2 py-2" alt="...">
                    <div class="card-body text-center my-4">
                        <h4 class="card-title">Black water melon</h4>
                        <h6 class="quantity my-3" style="font-weight: lighter;">medium</h6>
                        <h6 class="price my-3" style="font-weight: lighter;">Ugx. 5000</h6>
                        <button type="button" class="btn btn-lg add2cart-btn"><i class="fa-sharp fa-solid fa-cart-shopping px-2"></i>Add to cart</button>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                    <img src="../../srcs/img/apples.jpg" class="card-img-top px-2 py-2" alt="...">
                    <div class="card-body text-center my-4">
                        <h4 class="card-title">Green Apples</h4>
                        <h6 class="quantity my-3" style="font-weight: lighter;">medium</h6>
                        <h6 class="price my-3" style="font-weight: lighter;">Ugx. 5000</h6>
                        <button type="button" class="btn btn-lg add2cart-btn"><i class="fa-sharp fa-solid fa-cart-shopping px-2"></i>Add to cart</button>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                    <img src="../../srcs/img/coconuts.jpg" class="card-img-top px-2 py-2" alt="...">
                    <div class="card-body text-center my-4">
                        <h4 class="card-title">Green Coconuts</h4>
                        <h6 class="quantity my-3" style="font-weight: lighter;">medium</h6>
                        <h6 class="price my-3" style="font-weight: lighter;">Ugx. 5000</h6>
                        <button type="button" class="btn btn-lg add2cart-btn"><i class="fa-sharp fa-solid fa-cart-shopping px-2"></i>Add to cart</button>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                    <img src="../../srcs/img/jack_fruit.jpg" class="card-img-top px-2 py-2" alt="...">
                    <div class="card-body text-center my-4">
                        <h4 class="card-title">Jack fruit</h4>
                        <h6 class="quantity my-3" style="font-weight: lighter;">medium</h6>
                        <h6 class="price my-3" style="font-weight: lighter;">Ugx. 5000</h6>
                        <button type="button" class="btn btn-lg add2cart-btn"><i class="fa-sharp fa-solid fa-cart-shopping px-2"></i>Add to cart</button>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                    <img src="../../srcs/img/oranges.jpg" class="card-img-top px-2 py-2" alt="...">
                    <div class="card-body text-center my-4">
                        <h4 class="card-title">Local oranges</h4>
                        <h6 class="quantity my-3" style="font-weight: lighter;">medium</h6>
                        <h6 class="price my-3" style="font-weight: lighter;">Ugx. 5000</h6>
                        <button type="button" class="btn btn-lg add2cart-btn"><i class="fa-sharp fa-solid fa-cart-shopping px-2"></i>Add to cart</button>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                    <img src="../../srcs/img/tangarine.jpg" class="card-img-top px-2 py-2" alt="...">
                    <div class="card-body text-center my-4">
                        <h4 class="card-title">Local tangerine</h4>
                        <h6 class="quantity my-3" style="font-weight: lighter;">medium</h6>
                        <h6 class="price my-3" style="font-weight: lighter;">Ugx. 5000</h6>
                        <button type="button" class="btn btn-lg add2cart-btn"><i class="fa-sharp fa-solid fa-cart-shopping px-2"></i>Add to cart</button>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                    <img src="../../srcs/img/pineapples.jpg" class="card-img-top px-2 py-2" alt="...">
                    <div class="card-body text-center my-4">
                        <h4 class="card-title">Pine apples</h4>
                        <h6 class="quantity my-3" style="font-weight: lighter;">medium</h6>
                        <h6 class="price my-3" style="font-weight: lighter;">Ugx. 5000</h6>
                        <button type="button" class="btn btn-lg add2cart-btn"><i class="fa-sharp fa-solid fa-cart-shopping px-2"></i>Add to cart</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="veg-category-boxes mb-5 mt-5">
            <h6>Other Horticulture Boxes</h6>
        </div>
        <div class="container mb-5 bxes">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
              <div class="col">
                <div class="card h-100">
                  <img src="../../srcs/img/veg-fruits_box.jpg" class="card-img-top" alt="...">
                  <div class="card-body mt-5 mb-5">
                    <h5 class="card-title text-center"><a href="../boxSelections/vegetable_Boxes.html">Vegetable Boxes</a></h5>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="../../srcs/img/salads_boxes.jpg" class="card-img-top" alt="...">
                  <div class="card-body mt-5 mb-5">
                    <h5 class="card-title text-center"><a href="#">Mixed Boxes</a></h5>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4 p-3 mt-5">
              <h5>Urban Farmer:</h5>
              <p>From your farm to our stores and from our stores to your hand.</p>
              <h5>Our Clients:</h5>
              <p>From our stores to your household.</p>
              <i>We strive to make your meals delicious</i>
            </div>
            <div class="col-sm-4 col-md-4 p-3 mt-5">
              <h5>Pages:</h5>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Our Farmers</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Testimonials</a></li>
              </ul>
            </div>
            <div class="col-sm-4 col-md-4 p-3 mt-5">
              <h5>Information:</h5>
              <h6>Main Office:</h6>
              <ul>
                <li>Wandegeya Market</li>
                <li>South Wing - shop 2001A</li>
              </ul>
              <h6>Tel: 0789482852</h6>
              <h5>Opening Hours</h5>
              <ul>
                <li>Monday - Friday: 8am - 8pm</li>
                <li>Saturday - Sunday: 10am - 2pm</li>
              </ul>
              <h5>Socials</h5>
              <div class="socials">
                <ul>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">whatsApp</a></li>
                  <li><a href="#">Twitter</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="careof">
          <p class="text-center">&copy; 2022 Ufarm. All rights reserved</p>
        </div>
    </div>
</body>
</html>