<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../srcs/bootstrap-5.0.2-dist/bootstrapCss/bootstrap.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Agricultural Officier Dashboard</title>
</head>

<body>
    <div class="farmers-header">
        <div class="banner_menu">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                            <a class="nav-link" href="#">Features</a>
                            <a class="nav-link" href="#">Pricing</a>
                            <a class="nav-link disabled">Disabled</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <img src="../../srcs/img/ourfarmers.jpg" alt="">
        <div class="farmers-head">
            <h3 class="text-center">Agricultural Officer Dashboard</h3>
            <p>~ Just some text ~</p>
        </div>
    </div>
    <div class="farmers-main">
        <div class="dashboard-tabs">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Appointed FO Wards</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">FO Records</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">FO Registration</button>
                </li>
            </ul>
            <!-- Wards -->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-md-6 mt-3">
                                <p style="text-align: left;"><strong>F.O Name:</strong><i> Jansuk Emmanuel</i></p>
                                <p style="text-align: left;"><strong>F.O Ward:</strong><i> LC1</i></p>
                                <p style="text-align: left;"><strong>F.O Activities:</strong><i> Registering, approval, deleting</i></p>
                                <p style="text-align: left;"><strong>F.O Status:</strong><i> Appointed</i></p>
                                <p style="text-align: left;"><strong>Date of Appointed:</strong><i> 12-10-2022</i></p>
                            </div>
                            <div class="col-md-6 mt-3">
                                <p style="text-align: left;"><strong>F.O Name:</strong><i> James Wilson</i></p>
                                <p style="text-align: left;"><strong>F.O Ward:</strong><i> LC2</i></p>
                                <p style="text-align: left;"><strong>F.O Activities:</strong><i> Registering, approval</i></p>
                                <p style="text-align: left;"><strong>F.O Status:</strong><i> Appointed</i></p>
                                <p style="text-align: left;"><strong>Date of Appointed:</strong><i> 12-10-2022</i></p>
                            </div>
                            <div class="col-md-6 mt-3">
                                <p style="text-align: left;"><strong>F.O Name:</strong><i> Daniel B</i></p>
                                <p style="text-align: left;"><strong>F.O Ward:</strong><i> LC3</i></p>
                                <p style="text-align: left;"><strong>F.O Activities:</strong><i> Registering, approval</i></p>
                                <p style="text-align: left;"><strong>F.O Status:</strong><i> Appointed</i></p>
                                <p style="text-align: left;"><strong>Date of Appointed:</strong><i> 12-10-2022</i></p>
                            </div>
                            <div class="col-md-6 mt-3">
                                <p style="text-align: left;"><strong>F.O Name:</strong><i> Mkongwa Samuel</i></p>
                                <p style="text-align: left;"><strong>F.O Ward:</strong><i> LC4</i></p>
                                <p style="text-align: left;"><strong>F.O Activities:</strong><i> Registering, approval</i></p>
                                <p style="text-align: left;"><strong>F.O Status:</strong><i> Appointed</i></p>
                                <p style="text-align: left;"><strong>Date of Appointed:</strong><i> 12-10-2022</i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Records -->
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-md-6 mt-3">
                                <p style="text-align: left;"><strong>F.O Name:</strong><i> Jansuk Emmanuel</i></p>
                                <p style="text-align: left;"><strong>F.O Ward:</strong><i> LC1</i></p>
                                <p style="text-align: left;"><strong>F.O Activities:</strong><i> Registering, approval, deleting</i></p>
                                <p style="text-align: left;"><strong>F.O Status:</strong><i> Appointed</i></p>
                                <p style="text-align: left;"><strong>Date of Registration:</strong><i> 12-10-2022</i></p>
                                <p style="text-align: left;"><strong>Phone:</strong><i> 0789482852</i></p>
                                <p style="text-align: left;"><strong>Login ID:</strong><i> jansuk022lc1</i></p>
                                <a href="#">Update FO</a>
                            </div>
                            <div class="col-md-6 mt-3">
                                <p style="text-align: left;"><strong>F.O Name:</strong><i> James Wilson</i></p>
                                <p style="text-align: left;"><strong>F.O Ward:</strong><i> LC2</i></p>
                                <p style="text-align: left;"><strong>F.O Activities:</strong><i> Registering, approval</i></p>
                                <p style="text-align: left;"><strong>F.O Status:</strong><i> Appointed</i></p>
                                <p style="text-align: left;"><strong>Date of Registration:</strong><i> 12-10-2022</i></p>
                                <p style="text-align: left;"><strong>Phone:</strong><i> 0789482852</i></p>
                                <p style="text-align: left;"><strong>Login ID:</strong><i> jansuk022lc1</i></p>
                                <a href="#">Update FO</a>
                            </div>
                            <div class="col-md-6 mt-3">
                                <p style="text-align: left;"><strong>F.O Name:</strong><i> Daniel B</i></p>
                                <p style="text-align: left;"><strong>F.O Ward:</strong><i> LC3</i></p>
                                <p style="text-align: left;"><strong>F.O Activities:</strong><i> Registering, approval</i></p>
                                <p style="text-align: left;"><strong>F.O Status:</strong><i> Appointed</i></p>
                                <p style="text-align: left;"><strong>Date of Registration:</strong><i> 12-10-2022</i></p>
                                <p style="text-align: left;"><strong>Phone:</strong><i> 0789482852</i></p>
                                <p style="text-align: left;"><strong>Login ID:</strong><i> jansuk022lc1</i></p>
                                <a href="#">Update FO</a>
                            </div>
                            <div class="col-md-6 mt-3">
                                <p style="text-align: left;"><strong>F.O Name:</strong><i> Mkongwa Samuel</i></p>
                                <p style="text-align: left;"><strong>F.O Ward:</strong><i> LC4</i></p>
                                <p style="text-align: left;"><strong>F.O Activities:</strong><i> Registering, approval</i></p>
                                <p style="text-align: left;"><strong>F.O Status:</strong><i> Appointed</i></p>
                                <p style="text-align: left;"><strong>Date of Registration:</strong><i> 12-10-2022</i></p>
                                <p style="text-align: left;"><strong>Phone:</strong><i> 0789482852</i></p>
                                <p style="text-align: left;"><strong>Login ID:</strong><i> jansuk022lc1</i></p>
                                <a href="#">Update FO</a>
                            </div>
                            <div class="col-md-6 mt-3">
                                <p style="text-align: left;"><strong>F.O Name:</strong><i> Mkongwa Samuel</i></p>
                                <p style="text-align: left;"><strong>F.O Ward:</strong><i> LC4</i></p>
                                <p style="text-align: left;"><strong>F.O Activities:</strong><i> Registering, approval</i></p>
                                <p style="text-align: left;"><strong>F.O Status:</strong><i> Appointed</i></p>
                                <p style="text-align: left;"><strong>Date of Registration:</strong><i> 12-10-2022</i></p>
                                <p style="text-align: left;"><strong>Phone:</strong><i> 0789482852</i></p>
                                <p style="text-align: left;"><strong>Login ID:</strong><i> jansuk022lc1</i></p>
                                <a href="#">Update FO</a>
                            </div>
                            <div class="col-md-6 mt-3">
                                <p style="text-align: left;"><strong>F.O Name:</strong><i> Mkongwa Samuel</i></p>
                                <p style="text-align: left;"><strong>F.O Ward:</strong><i> LC4</i></p>
                                <p style="text-align: left;"><strong>F.O Activities:</strong><i> Registering, approval</i></p>
                                <p style="text-align: left;"><strong>F.O Status:</strong><i> Appointed</i></p>
                                <p style="text-align: left;"><strong>Date of Registration:</strong><i> 12-10-2022</i></p>
                                <p style="text-align: left;"><strong>Phone:</strong><i> 0789482852</i></p>
                                <p style="text-align: left;"><strong>Login ID:</strong><i> jansuk022lc1</i></p>
                                <a href="#">Update FO</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Registration -->
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="container mt-5">
                        <form action="" method="post">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="fo_name" class="form-label">FO Name:</label>
                                    <input type="text" class="form-control" id="fo_name" name="fo_name">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="fo_ward" class="form-label">FO Ward:</label>
                                    <input type="text" class="form-control" id="fo_ward" name="fo_ward">
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="fo_ward_staus" class="form-label">FO Status in ward:</label>
                                    <select class="form-select" id="fo_ward_staus">
                                        <option selected>Select a status</option>
                                        <option value="appointed">Appoointed</option>
                                        <option value="removed">Removed</option>
                                        <option value="not_appointed">Never appointed</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label class="form-label d-block mb-3">Gender:</label>
                                    <div class="form-check d-inline-block">
                                        <input class="form-check-input" type="radio" name="gender" value="male" id="gender">
                                        <label class="form-check-label" for="gender">
                                          Male
                                        </label>
                                    </div>
                                    <div class="form-check d-inline-block ms-4">
                                        <input class="form-check-input" type="radio" name="gender" value="female" id="female">
                                        <label class="form-check-label" for="gender">
                                          female
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="date_of_birth" class="form-label">Date of Birth:</label>
                                    <input type="date" class="form-control" name="date_of_birth" id="date_of_birth">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label d-block mb-3">Activities:</label>
                                    <div class="form-check d-inline-block">
                                        <input class="form-check-input" type="checkbox" name="approve_produces" id="approve_produces">
                                        <label class="form-check-label" for="approve_produces">
                                          Approve Produces
                                        </label>
                                    </div>
                                    <div class="form-check d-inline-block ms-4">
                                        <input class="form-check-input" type="checkbox" name="foresee_bookings" id="foresee_bookings">
                                        <label class="form-check-label" for="foresee_bookings">
                                          Foresee bookings
                                        </label>
                                    </div>
                                    <div class="form-check d-inline-block ms-4">
                                        <input class="form-check-input" type="checkbox" name="register_urban_farmers" id="register_urban_farmers">
                                        <label class="form-check-label" for="register_urban_farmers">
                                          Register Urban Farmers
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="nin" class="form-label">NIN</label>
                                    <input type="text" id="nin" name="nin" class="form-control">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="phone" class="form-label">Phone</label>
                                    <input type="text" name="phone" class="form-control" id="phone">
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="fo_residence_type" class="form-label">Residence Type:</label>
                                    <select class="form-select" id="fo_residence_type">
                                        <option selected>Select a residence type</option>
                                        <option value="permanent">Permanent</option>
                                        <option value="temporary">Temporary</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="period_of_stay" class="form-label">Period of Stay in Residence:</label>
                                    <input type="text" class="form-control" name="period_of_stay" id="period_of_stay" placeholder="10">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="directions_to_fo_place" class="form-label">Directions to farmer One Home</label>
                                    <input type="text" class="form-control" name="directions_to_fo_place" id="directions_to_fo_place">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="id_to_login" class="form-label">ID to login</label>
                                    <input type="text" name="id_to_login" class="form-control" id="id_to_login">
                                </div>
                            </div>
                            <button type="submit" class="form_btn mt-5">Register FO</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 p-3 mt-5">
                    <h5>Urban Farmer:</h5>
                    <p>From your farm to our stores and from our stores to your hand.</p>
                    <h5>Our Clients:</h5>
                    <p>From our stores to your household.</p>
                    <i>We strive to make your meals delicious</i>
                </div>
                <div class="col-sm-4 col-md-4 p-3 mt-5">
                    <h5>Pages:</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Our Farmers</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-4 p-3 mt-5">
                    <h5>Information:</h5>
                    <h6>Main Office:</h6>
                    <ul>
                        <li>Wandegeya Market</li>
                        <li>South Wing - shop 2001A</li>
                    </ul>
                    <h6>Tel: 0789482852</h6>
                    <h5>Opening Hours</h5>
                    <ul>
                        <li>Monday - Friday: 8am - 8pm</li>
                        <li>Saturday - Sunday: 10am - 2pm</li>
                    </ul>
                    <h5>Socials</h5>
                    <div class="socials">
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">whatsApp</a></li>
                            <li><a href="#">Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="careof">
            <p class="text-center">&copy; 2022 Ufarm. All rights reserved</p>
        </div>
    </div>
    <script src="../../srcs/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
</body>

</html>