<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../srcs/bootstrap-5.0.2-dist/bootstrapCss/bootstrap.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Farmer One Dashboard</title>
</head>

<body>
    <div class="farmers-header">
        <div class="banner_menu">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                            <a class="nav-link" href="#">Features</a>
                            <a class="nav-link" href="#">Pricing</a>
                            <a class="nav-link disabled">Disabled</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <img src="../../srcs/img/ourfarmers.jpg" alt="">
        <div class="farmers-head">
            <h3 class="text-center">Farmer One Dashboard</h3>
            <p>~ Just some text ~</p>
        </div>
    </div>
    <div class="farmers-main">
        <div class="dashboard-tabs urban-farmer-dashboard">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Urban Farmers</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Uploaded Produce</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="bookings-tab" data-bs-toggle="tab" data-bs-target="#bookings" type="button" role="tab" aria-controls="booings" aria-selected="false">Bookings and Orders</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="approved-bookings-tab" data-bs-toggle="tab" data-bs-target="#approved-bookings" type="button" role="tab" aria-controls="approved-bookings" aria-selected="false">Approved Bookings</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Registration</button>
                </li>
            </ul>
            <!-- Urban Farmers -->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-md-6 mt-3">
                                <p style="text-align: left;"><strong>U.F Name:</strong><i> Jacob B</i></p>
                                <p style="text-align: left;"><strong>U.F Gender:</strong><i> Male</i></p>
                                <p style="text-align: left;"><strong>U.F Date of Registration:</strong><i> 12-10-2022</i></p>
                                <p style="text-align: left;"><strong>U.F Activites:</strong><i> Vegetables Growing, Fruits Fruits</i></p>
                                <p style="text-align: left;"><strong>U.F Contacts:</strong><i> 0700000001</i></p>
                                <p style="text-align: left;"><strong>U.F Location:</strong><i> 14-B: Malaba Zone, malaba village</i></p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="#" class="general_button">Delete Uf</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#">Update Uf</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-3">
                                <p style="text-align: left;"><strong>U.F Name:</strong><i> Jacob B</i></p>
                                <p style="text-align: left;"><strong>U.F Gender:</strong><i> Male</i></p>
                                <p style="text-align: left;"><strong>U.F Date of Registration:</strong><i> 12-10-2022</i></p>
                                <p style="text-align: left;"><strong>U.F Activites:</strong><i> Vegetables Growing, Fruits Fruits</i></p>
                                <p style="text-align: left;"><strong>U.F Contacts:</strong><i> 0700000001</i></p>
                                <p style="text-align: left;"><strong>U.F Location:</strong><i> 14-B: Malaba Zone, malaba village</i></p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="#" class="general_button">Delete Uf</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#">Update Uf</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-3">
                                <p style="text-align: left;"><strong>U.F Name:</strong><i> Jacob B</i></p>
                                <p style="text-align: left;"><strong>U.F Gender:</strong><i> Male</i></p>
                                <p style="text-align: left;"><strong>U.F Date of Registration:</strong><i> 12-10-2022</i></p>
                                <p style="text-align: left;"><strong>U.F Activites:</strong><i> Vegetables Growing, Fruits Fruits</i></p>
                                <p style="text-align: left;"><strong>U.F Contacts:</strong><i> 0700000001</i></p>
                                <p style="text-align: left;"><strong>U.F Location:</strong><i> 14-B: Malaba Zone, malaba village</i></p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="#" class="general_button">Delete Uf</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#">Update Uf</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-3">
                                <p style="text-align: left;"><strong>U.F Name:</strong><i> Jacob B</i></p>
                                <p style="text-align: left;"><strong>U.F Gender:</strong><i> Male</i></p>
                                <p style="text-align: left;"><strong>U.F Date of Registration:</strong><i> 12-10-2022</i></p>
                                <p style="text-align: left;"><strong>U.F Activites:</strong><i> Vegetables Growing, Fruits Fruits</i></p>
                                <p style="text-align: left;"><strong>U.F Contacts:</strong><i> 0700000001</i></p>
                                <p style="text-align: left;"><strong>U.F Location:</strong><i> 14-B: Malaba Zone, malaba village</i></p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="#" class="general_button">Delete Uf</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#">Update Uf</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Uploaded Produce -->
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-md-6 mt-3">
                                <div class="row">
                                    <div class="col-md-7">
                                        <p style="text-align: left;"><strong>Produce ID:</strong><i> 001</i></p>
                                        <p style="text-align: left;"><strong>Produce Category:</strong><i> Horticulture</i></p>
                                        <p style="text-align: left;"><strong>Produce Subcategory:</strong><i> Vegetables</i></p>
                                        <p style="text-align: left;"><strong>Produce Name:</strong><i> Tomatoes</i></p>
                                        <p style="text-align: left;"><strong>Produce Quantity:</strong><i> 300kg</i></p>
                                        <p style="text-align: left;"><strong>Price Per Quantity:</strong><i> 2000</i></p>
                                        <p style="text-align: left;"><strong>Produce Status:</strong><i> Available</i></p>
                                        <p style="text-align: left;"><strong>Upload Date:</strong><i> 12-10-2022</i></p>
                                        <p style="text-align: left;"><strong>U.F ward:</strong><i> LC1</i></p>
                                        <p style="text-align: left;"><strong>Contact:</strong><i> 0700000001</i></p>
                                    </div>
                                    <div class="col-md-5">
                                        <h1 class="h3">Uploaded Image</h1>
                                        <div class="text-center">
                                            <img src="../../srcs/img/greenpaper.jpg" class="img-thumbnail" alt="...">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="#" class="general_button">Decline</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#">Approve</a>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="col-md-6 mt-3">
                                <div class="row">
                                    <div class="col-md-7">
                                        <p style="text-align: left;"><strong>Produce ID:</strong><i> 001</i></p>
                                        <p style="text-align: left;"><strong>Produce Category:</strong><i> Horticulture</i></p>
                                        <p style="text-align: left;"><strong>Produce Subcategory:</strong><i> Vegetables</i></p>
                                        <p style="text-align: left;"><strong>Produce Name:</strong><i> Tomatoes</i></p>
                                        <p style="text-align: left;"><strong>Produce Quantity:</strong><i> 300kg</i></p>
                                        <p style="text-align: left;"><strong>Price Per Quantity:</strong><i> 2000</i></p>
                                        <p style="text-align: left;"><strong>Produce Status:</strong><i> Available</i></p>
                                        <p style="text-align: left;"><strong>Upload Date:</strong><i> 12-10-2022</i></p>
                                        <p style="text-align: left;"><strong>U.F ward:</strong><i> LC1</i></p>
                                        <p style="text-align: left;"><strong>Contact:</strong><i> 0700000001</i></p>
                                    </div>
                                    <div class="col-md-5">
                                        <h1 class="h3">Uploaded Image</h1>
                                        <div class="text-center">
                                            <img src="../../srcs/img/mushrooms.jpg" class="img-thumbnail" alt="...">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="#" class="general_button">Decline</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#">Approve</a>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="col-md-6 mt-3">
                                <div class="row">
                                    <div class="col-md-7">
                                        <p style="text-align: left;"><strong>Produce ID:</strong><i> 001</i></p>
                                        <p style="text-align: left;"><strong>Produce Category:</strong><i> Horticulture</i></p>
                                        <p style="text-align: left;"><strong>Produce Subcategory:</strong><i> Vegetables</i></p>
                                        <p style="text-align: left;"><strong>Produce Name:</strong><i> Tomatoes</i></p>
                                        <p style="text-align: left;"><strong>Produce Quantity:</strong><i> 300kg</i></p>
                                        <p style="text-align: left;"><strong>Price Per Quantity:</strong><i> 2000</i></p>
                                        <p style="text-align: left;"><strong>Produce Status:</strong><i> Available</i></p>
                                        <p style="text-align: left;"><strong>Upload Date:</strong><i> 12-10-2022</i></p>
                                        <p style="text-align: left;"><strong>U.F ward:</strong><i> LC1</i></p>
                                        <p style="text-align: left;"><strong>Contact:</strong><i> 0700000001</i></p>
                                    </div>
                                    <div class="col-md-5">
                                        <h1 class="h3">Uploaded Image</h1>
                                        <div class="text-center">
                                            <img src="../../srcs/img/greenpaper.jpg" class="img-thumbnail" alt="...">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="#" class="general_button">Decline</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#">Approve</a>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="col-md-6 mt-3">
                                <div class="row">
                                    <div class="col-md-7">
                                        <p style="text-align: left;"><strong>Produce ID:</strong><i> 001</i></p>
                                        <p style="text-align: left;"><strong>Produce Category:</strong><i> Horticulture</i></p>
                                        <p style="text-align: left;"><strong>Produce Subcategory:</strong><i> Vegetables</i></p>
                                        <p style="text-align: left;"><strong>Produce Name:</strong><i> Tomatoes</i></p>
                                        <p style="text-align: left;"><strong>Produce Quantity:</strong><i> 300kg</i></p>
                                        <p style="text-align: left;"><strong>Price Per Quantity:</strong><i> 2000</i></p>
                                        <p style="text-align: left;"><strong>Produce Status:</strong><i> Available</i></p>
                                        <p style="text-align: left;"><strong>Upload Date:</strong><i> 12-10-2022</i></p>
                                        <p style="text-align: left;"><strong>U.F ward:</strong><i> LC1</i></p>
                                        <p style="text-align: left;"><strong>Contact:</strong><i> 0700000001</i></p>
                                    </div>
                                    <div class="col-md-5">
                                        <h1 class="h3">Uploaded Image</h1>
                                        <div class="text-center">
                                            <img src="../../srcs/img/greenpaper.jpg" class="img-thumbnail" alt="...">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="#" class="general_button">Decline</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#">Approve</a>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Bookings and Orders -->
                <div class="tab-pane fade" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">
                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-md-6 mt-3">
                                <p style="text-align: left;"><strong>Public User:</strong><i> Jansuk</i></p>
                                <p style="text-align: left;"><strong>Public User Phone:</strong><i> 0720000000</i></p>
                                <p style="text-align: left;"><strong>Public User Location:</strong><i> Wandegeya, Kulumba Zone</i></p>
                                <h5>Bookings Details:</h5>
                                <p style="text-align: left;"><strong>Date:</strong><i> 12-10-2022</i></p>
                                <p style="text-align: left;"><strong>Purchase Reference ID:</strong><i> 1KDJSK325DD</i></p>
                                <p style="text-align: left;"><strong>Purchase Message:</strong><i> Pending Approval</i></p>
                                <h5>Delivery Details:</h5>
                                <p style="text-align: left;"><strong>Mode:</strong><i> home</i></p>
                                <p style="text-align: left;"><strong>Personel:</strong><i> </i></p>
                                <p style="text-align: left;"><strong>Personel Contact:</strong><i> </i></p>
                                <h5>Produce Details:</h5>
                                <p style="text-align: left;"><strong>Produce ID:</strong><i> 002</i></p>
                                <p style="text-align: left;"><strong>Produce Category:</strong><i> Horticulture</i></p>
                                <p style="text-align: left;"><strong>Produce name:</strong><i> tomatoes</i></p>
                                <p style="text-align: left;"><strong>Produce Quantiy:</strong><i> 1kg</i></p>
                                <p style="text-align: left;"><strong>Produce Price Per Quantity:</strong><i> 2000</i></p>
                                <p style="text-align: left;"><strong>Urban Farmer:</strong><i> Lucy</i></p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- approve and a modal window shows up where we put the message(to change the purchase message) and the details of the delivered: contact and name -->
                                        <a href="#" class="general_button">Approve Order</a> 
                                    </div>
                                    <div class="col-md-6">
                                        <!-- Decline order with a message to the user about referal of the money: this is in the purchase message -->
                                        <a href="#">Decline Order</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-3">
                                <p style="text-align: left;"><strong>Public User:</strong><i> Jansuk</i></p>
                                <p style="text-align: left;"><strong>Public User Phone:</strong><i> 0720000000</i></p>
                                <p style="text-align: left;"><strong>Public User Location:</strong><i> Wandegeya, Kulumba Zone</i></p>
                                <h5>Bookings Details:</h5>
                                <p style="text-align: left;"><strong>Date:</strong><i> 12-10-2022</i></p>
                                <p style="text-align: left;"><strong>Purchase Reference ID:</strong><i> 1KDJSK325DD</i></p>
                                <p style="text-align: left;"><strong>Purchase Message:</strong><i> Pending Approval</i></p>
                                <h5>Delivery Details:</h5>
                                <p style="text-align: left;"><strong>Mode:</strong><i> home</i></p>
                                <p style="text-align: left;"><strong>Personel:</strong><i> </i></p>
                                <p style="text-align: left;"><strong>Personel Contact:</strong><i> </i></p>
                                <h5>Produce Details:</h5>
                                <p style="text-align: left;"><strong>Produce ID:</strong><i> 002</i></p>
                                <p style="text-align: left;"><strong>Produce Category:</strong><i> Horticulture</i></p>
                                <p style="text-align: left;"><strong>Produce name:</strong><i> tomatoes</i></p>
                                <p style="text-align: left;"><strong>Produce Quantiy:</strong><i> 1kg</i></p>
                                <p style="text-align: left;"><strong>Produce Price Per Quantity:</strong><i> 2000</i></p>
                                <p style="text-align: left;"><strong>Urban Farmer:</strong><i> Lucy</i></p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- approve and a modal window shows up where we put the message(to change the purchase message) and the details of the delivered: contact and name -->
                                        <a href="#" class="general_button">Approve Order</a> 
                                    </div>
                                    <div class="col-md-6">
                                        <!-- Decline order with a message to the user about referal of the money: this is in the purchase message -->
                                        <a href="#">Decline Order</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Approved Bookings -->
                <div class="tab-pane fade" id="approved-bookings" role="tabpanel" aria-labelledby="approved-bookings-tab">
                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-md-6 mt-3">
                                <p style="text-align: left;"><strong>Public User:</strong><i> Jansuk</i></p>
                                <p style="text-align: left;"><strong>Public User Phone:</strong><i> 0720000000</i></p>
                                <p style="text-align: left;"><strong>Public User Location:</strong><i> Wandegeya, Kulumba Zone</i></p>
                                <h5>Bookings Details:</h5>
                                <p style="text-align: left;"><strong>Date:</strong><i> 12-10-2022</i></p>
                                <p style="text-align: left;"><strong>Purchase Reference ID:</strong><i> 1KDJSK325DD</i></p>
                                <p style="text-align: left;"><strong>Purchase Message:</strong><i> Approved for Delivery</i></p>
                                <h5>Delivery Details:</h5>
                                <p style="text-align: left;"><strong>Mode:</strong><i> home</i></p>
                                <p style="text-align: left;"><strong>Personel:</strong><i> Kayondo Jackson</i></p>
                                <p style="text-align: left;"><strong>Personel Contact:</strong><i> 078887876</i></p>
                                <h5>Produce Details:</h5>
                                <p style="text-align: left;"><strong>Produce ID:</strong><i> 002</i></p>
                                <p style="text-align: left;"><strong>Produce Category:</strong><i> Horticulture</i></p>
                                <p style="text-align: left;"><strong>Produce name:</strong><i> tomatoes</i></p>
                                <p style="text-align: left;"><strong>Produce Quantiy:</strong><i> 1kg</i></p>
                                <p style="text-align: left;"><strong>Produce Price Per Quantity:</strong><i> 2000</i></p>
                                <p style="text-align: left;"><strong>Urban Farmer:</strong><i> Lucy</i></p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- Once Delivered I can delete the details from database -->
                                        <a href="#">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-3">
                                <p style="text-align: left;"><strong>Public User:</strong><i> Jansuk</i></p>
                                <p style="text-align: left;"><strong>Public User Phone:</strong><i> 0720000000</i></p>
                                <p style="text-align: left;"><strong>Public User Location:</strong><i> Wandegeya, Kulumba Zone</i></p>
                                <h5>Bookings Details:</h5>
                                <p style="text-align: left;"><strong>Date:</strong><i> 12-10-2022</i></p>
                                <p style="text-align: left;"><strong>Purchase Reference ID:</strong><i> 1KDJSK325DD</i></p>
                                <p style="text-align: left;"><strong>Purchase Message:</strong><i> Approved for Delivery</i></p>
                                <h5>Delivery Details:</h5>
                                <p style="text-align: left;"><strong>Mode:</strong><i> home</i></p>
                                <p style="text-align: left;"><strong>Personel:</strong><i> Ngabz Leonard</i></p>
                                <p style="text-align: left;"><strong>Personel Contact:</strong><i> 078887876</i></p>
                                <h5>Produce Details:</h5>
                                <p style="text-align: left;"><strong>Produce ID:</strong><i> 002</i></p>
                                <p style="text-align: left;"><strong>Produce Category:</strong><i> Horticulture</i></p>
                                <p style="text-align: left;"><strong>Produce name:</strong><i> tomatoes</i></p>
                                <p style="text-align: left;"><strong>Produce Quantiy:</strong><i> 1kg</i></p>
                                <p style="text-align: left;"><strong>Produce Price Per Quantity:</strong><i> 2000</i></p>
                                <p style="text-align: left;"><strong>Urban Farmer:</strong><i> Lucy</i></p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- Once Delivered I can delete the details from database -->
                                        <a href="#">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Registration -->
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="container mt-5">
                        <form action="" method="post">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="fo_name" class="form-label">FO Name:</label>
                                    <input type="text" class="form-control" id="fo_name" name="fo_name">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="fo_ward" class="form-label">FO Ward:</label>
                                    <input type="text" class="form-control" id="fo_ward" name="fo_ward">
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="fo_ward_staus" class="form-label">FO Status in ward:</label>
                                    <select class="form-select" id="fo_ward_staus">
                                        <option selected>Select a status</option>
                                        <option value="appointed">Appoointed</option>
                                        <option value="removed">Removed</option>
                                        <option value="not_appointed">Never appointed</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label class="form-label d-block mb-3">Gender:</label>
                                    <div class="form-check d-inline-block">
                                        <input class="form-check-input" type="radio" name="gender" value="male" id="gender">
                                        <label class="form-check-label" for="gender">
                                          Male
                                        </label>
                                    </div>
                                    <div class="form-check d-inline-block ms-4">
                                        <input class="form-check-input" type="radio" name="gender" value="female" id="female">
                                        <label class="form-check-label" for="gender">
                                          female
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="date_of_birth" class="form-label">Date of Birth:</label>
                                    <input type="date" class="form-control" name="date_of_birth" id="date_of_birth">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label d-block mb-3">Activities:</label>
                                    <div class="form-check d-inline-block">
                                        <input class="form-check-input" type="checkbox" name="approve_produces" id="approve_produces">
                                        <label class="form-check-label" for="approve_produces">
                                          Approve Produces
                                        </label>
                                    </div>
                                    <div class="form-check d-inline-block ms-4">
                                        <input class="form-check-input" type="checkbox" name="foresee_bookings" id="foresee_bookings">
                                        <label class="form-check-label" for="foresee_bookings">
                                          Foresee bookings
                                        </label>
                                    </div>
                                    <div class="form-check d-inline-block ms-4">
                                        <input class="form-check-input" type="checkbox" name="register_urban_farmers" id="register_urban_farmers">
                                        <label class="form-check-label" for="register_urban_farmers">
                                          Register Urban Farmers
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="nin" class="form-label">NIN</label>
                                    <input type="text" id="nin" name="nin" class="form-control">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="phone" class="form-label">Phone</label>
                                    <input type="text" name="phone" class="form-control" id="phone">
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="fo_residence_type" class="form-label">Residence Type:</label>
                                    <select class="form-select" id="fo_residence_type">
                                        <option selected>Select a residence type</option>
                                        <option value="permanent">Permanent</option>
                                        <option value="temporary">Temporary</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="period_of_stay" class="form-label">Period of Stay in Residence:</label>
                                    <input type="text" class="form-control" name="period_of_stay" id="period_of_stay" placeholder="10">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="directions_to_fo_place" class="form-label">Directions to farmer One Home</label>
                                    <input type="text" class="form-control" name="directions_to_fo_place" id="directions_to_fo_place">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="id_to_login" class="form-label">ID to login</label>
                                    <input type="text" name="id_to_login" class="form-control" id="id_to_login">
                                </div>
                            </div>
                            <button type="submit" class="form_btn mt-5">Register FO</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 p-3 mt-5">
                    <h5>Urban Farmer:</h5>
                    <p>From your farm to our stores and from our stores to your hand.</p>
                    <h5>Our Clients:</h5>
                    <p>From our stores to your household.</p>
                    <i>We strive to make your meals delicious</i>
                </div>
                <div class="col-sm-4 col-md-4 p-3 mt-5">
                    <h5>Pages:</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Our Farmers</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-4 p-3 mt-5">
                    <h5>Information:</h5>
                    <h6>Main Office:</h6>
                    <ul>
                        <li>Wandegeya Market</li>
                        <li>South Wing - shop 2001A</li>
                    </ul>
                    <h6>Tel: 0789482852</h6>
                    <h5>Opening Hours</h5>
                    <ul>
                        <li>Monday - Friday: 8am - 8pm</li>
                        <li>Saturday - Sunday: 10am - 2pm</li>
                    </ul>
                    <h5>Socials</h5>
                    <div class="socials">
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">whatsApp</a></li>
                            <li><a href="#">Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="careof">
            <p class="text-center">&copy; 2022 Ufarm. All rights reserved</p>
        </div>
    </div>
    <script src="../../srcs/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
</body>

</html>