doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi' crossorigin='anonymous')
    link(rel='icon' type='image/x-icon' href='img/favicon.ico')
    link(href='css/farmers_styles.css' rel='stylesheet')
    link(rel='stylesheet' href='css/style.css')
    if logged_in_user
        block farmer-title
            title #{logged_in_user.role}
    else 
        block farmer-title 
            title Ufarm
body 
    include _farmers_header
    block main_content 
        h2 example content
    include _footer