doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='bootstrap-5.0.2-dist/css/bootstrap.min.css')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
    link(rel='stylesheet' href='css/style.css')
    title Ufarm
#topHeader_banner
    header
        nav.navbar.navbar-expand-lg
            .container-fluid
                a.navbar-brand(href='#') Ufarm
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navToExpand' aria-controls='navToExpand' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navToExpand.collapse.navbar-collapse
                    ul.navbar-nav
                        li.nav-item.dropdown.topNavItem
                            a.nav-link.dropdown-toggle.sh(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                                | Shop
                            div
                            ul.dropdown-menu.shopDropdown
                                li
                                    a.dropdown-item.sh(href='/horticulture') Horticulture
                                li
                                    a.dropdown-item.sh(href='/dairy') Dairy
                                li
                                    a.dropdown-item.sh(href='/poultry') Poultry
                        li.nav-item
                            a.nav-link.sh(href='/our_farmers') Our Farmers
                        li.nav-item
                            a.nav-link.sh(href='#') About
                        li.nav-item
                            a.nav-link.sh(href='/user_login') Login
                        li.nav-item
                            a.nav-link.sh(href='/user_signup') Sign up
    #banner_word.text-center.text-white
        h2.text-center Welcome to UFarm
        p ~ A market place for all your horticulture, poultry and dairy products ~
section#main
    .about.mt-5
        h2.text-center About us
        p.mb-5 ~ Bringing The Market To You ~
        .container
            .row
                .col-md-3.text-center
                    img.img-fluid.rounded(src='/img/cabbage_jk.jpg' alt='...')
                .col-md-7.mt-md-0.mt-sm-5
                    h5.text-start Description
                    p.text-start
                        | Ufarm is an online agricultural platform that sells poultry, horticulture and diary products. It was started in the year 2022 and it aims to
                        | promote and support urban farmining practice while easing market access and improving on the family earnings and livelihoods of the farmers within
                        | the City centers.
                    h5.text-center Our Mission
                    p.text-start
                        i
                            | To tirelessly bring the market closer to your vicinity henceforth reducing your time moving in crowded and unhygienical markets.
                    h5.text-center Our Vision
                    p.text-start
                        i
                            | To become the leading Online Market place for all farmers located within the urban centers.
    #howTo
        h2 How To Order
        p ~ Creating an order subscription is easy ~
        .instrtns
            .row
                .mr-sm-1.ml-sm-1.col-sm-10.col-lg-3.inst
                    .numbering
                        span.num 1
                    .instrtnsFollow
                        h5 Shop Ufarm
                        |               Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        |               Expedita deleniti dolorem, voluptates aut provident est?
                .mr-sm-1.ml-sm-1.col-sm-10.col-md-10.col-lg-3.inst
                    .numbering
                        span.num 2
                    .instrtnsFollow
                        h5 Delivery
                        |               Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        |               Possimus quam corporis odit dicta nihil asperiores eum.
                        |               Provident inventore velit asperiores enim at voluptate officiis
                        |               voluptatibus.
                .mr-sm-1.ml-sm-1.col-sm-10.col-lg-3.inst
                    .numbering
                        span.num 3
                    .instrtnsFollow
                        h5 Happy Delivery
                        |               Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        |               Facere, laudantium fuga, voluptas iusto non ratione sit hic ut,
                        |               ab corporis quas atque illum rem aspernatur.
        a.viewShop(href='/categories_in_shop') View Our Shop
    .viewShopSmall
        h6
            a(href='/categories_in_shop') View Our Shop
    #exploreUfarm.container.mt-5
        h2 Explore Ufarm
        p ~ Discover the Different Categories To Shop ~
        .row.row-cols-1.row-cols-md-3.g-4
            .col.horticulture
                .card.h-100
                    img.card-img-top(src='/img/horticulture.jpg' alt='...')
                    .card-body.mt-3.text-center
                        a(href='/horticulture') Horticulture
            .col.poultry
                .card.h-100
                    img.card-img-top(src='/img/poultry.jpg' alt='...')
                    .card-body.mt-3.text-center
                        a(href='/poultry') Poultry
            .col.diary
                .card.h-100
                    img.card-img-top(src='/img/dairy.jpg' alt='...')
                    .card-body.mt-3.text-center
                        a(href='/diary') Diary
    .testimonials
        .row
            .col-md-5.our_features
                .row.mt-4.text-center
                    .col-md-4.bx1
                        img.us-img.organic(src='/img/organic.svg' alt='')
                        h6.mt-2 100% Fresh &amp; Organic
                        p Locally grown and sourced
                    .col-md-4.bx1
                        img.us-img.secure-ordering(src='/img/secured.svg' alt='')
                        h6.mt-2 Secure Ordering
                        p Encrypted transaction processing
                    .col-md-3
                    .col-md-4.bx1
                        img.us-img.timeDelivery(src='/img/boxing_delivery.svg' alt='')
                        h6.mt-2 Delivery
                        p Timely delivery of produce
            .col-md-5.user-testimonials
                p ~ Why Choose us ~
                h2 Testimonials
                .testi
                    p
                        | Brillian service, good quality local produce delivered direct to your home. I feel it is really important
                        | to support urban producers but I also want value for money and Ufarm gives me both.
                    h6
                        i Micheal Kiyimba
                .testi.mt-4
                    p
                        | Brillian service, good quality local produce delivered direct to your home. I feel it is really important
                        | to support urban producers but I also want value for money and Ufarm gives me both.
                    h6
                        i Micheal Kiyimba
#footer
    .container
        .row
            .col-md-4.p-3.mt-5
                h5 Urban Farmer:
                p From your farm to our stores and from our stores to your hand.
                h5 Our Clients:
                p From our stores to your household.
                i We strive to make your meals delicious
            .col-sm-4.col-md-4.p-3.mt-5
                h5 Pages:
                ul
                    li
                        a(href='#') Home
                    li
                        a(href='#') Shop
                    li
                        a(href='#') Our Farmers
                    li
                        a(href='#') About us
                    li
                        a(href='#') Testimonials
            .col-sm-4.col-md-4.p-3.mt-5
                h5 Information:
                h6 Main Office:
                ul
                    li Wandegeya Market
                    li South Wing - shop 2001A
                h6 Tel: 0789482852
                h5 Opening Hours
                ul
                    li Monday - Friday: 8am - 8pm
                    li Saturday - Sunday: 10am - 2pm
                h5 Socials
                .socials
                    ul
                        li
                            a(href='#') Facebook
                        li
                            a(href='#') whatsApp
                        li
                            a(href='#') Twitter
    .careof
        p.text-center &copy; 2022 Ufarm. All rights reserved
script(src='/bootstrap-5.0.2-dist/js/bootstrap.min.js')
script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js' integrity='sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js' integrity='sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz' crossorigin='anonymous')
