extends base
block content 
    section#main
        #howTo
            h2 How To Order
            p ~ Creating an order subscription is easy ~
            .viewShop
                h6 View Our Shop
            .instrtns
                .row
                    .mr-sm-1.ml-sm-1.col-sm-10.col-lg-3.inst
                        .numbering
                            span.num 1
                        .instrtnsFollow
                            h5 Shop Ufarm
                            | 
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita deleniti dolorem, voluptates aut provident est?
                    .mr-sm-1.ml-sm-1.col-sm-10.col-md-10.col-lg-3.inst
                        .numbering
                            span.num 2
                        .instrtnsFollow
                            h5 Delivery
                            | 
                            Lorem ipsum dolor sit amet, consectetur adipisicing elitelit asperiores enim at voluptate officiis voluptatibus.
                    .mr-sm-1.ml-sm-1.col-sm-10.col-lg-3.inst
                        .numbering
                            span.num 3
                        .instrtnsFollow
                            h5 Happy Delivery
                            | 
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, laudantium fuga, voluptas iusto non ratione sit hic ut, ab corporis quas atque illum rem aspernatur.
        .viewShopSmall
            h6 View Our Shop
        #gettingStarted
            .getStarted
                h4 Getting Started with Ufarm?
                .acctNew.mt-5
                    p
                        i Click below to create an account...
                    a(href='#') Create a Ufarm Account
                .signToAcct.mb-5
                    p
                        i Have an account? Sign in...
                    a(href='#') Sign in
        #exploreUfarm.container
            h2 Explore Ufarm
            p ~ Discover the Different Categories To Shop ~
            .row.row-cols-1.row-cols-md-3.g-4
                .col.horticulture
                    .card.h-100
                        img.card-img-top(src='img/horticulture.jpg', alt='...')
                        .card-body.mt-3.text-center
                            a(href='../products/horticulture.html') Horticulture
                .col.poultry
                    .card.h-100
                        img.card-img-top(src='img/poultry.jpg', alt='...')
                        .card-body.mt-3.text-center
                            a(href='../products/poultry.html') Poultry
                .col.diary
                    .card.h-100
                        img.card-img-top(src='img/dairy.jpg', alt='...')
                        .card-body.mt-3.text-center
                            a(href='../products/dairy.html') Diary
        .testimonials
            .row
                .col-md-5.our_features
                    .row.mt-4.text-center
                        .col-md-4.bx1
                            img.us-img.organic(src='img/organic.svg', alt)
                            h6.mt-2 100% Fresh & Organic
                            p Locally grown and sourced
                        .col-md-4.bx1
                            img.us-img.secure-ordering(src='img/secured.svg', alt)
                            h6.mt-2 Secure Ordering
                            p Encrypted transaction processing
                        .col-md-3
                        .col-md-4.bx1
                            img.us-img.timeDelivery(src='img/boxing_delivery.svg', alt)
                            h6.mt-2 Delivery
                            p Timely delivery of produce
                .col-md-5.user-testimonials
                    p ~ Why Choose us ~
                    h2 Testimonials
                    .testi
                        p Brillian service, good quality local produce delivered direct to your home. I feel it is really important to support urban producers but I also want value for money and Ufarm gives me both.
                        h6
                            i Micheal Kiyimba
                    .testi.mt-4
                        p Brillian service, good quality local produce delivered direct to your home. I feel it is really important to support urban producers but I also want value for money and Ufarm gives me both.
                        h6
                            i Micheal Kiyimba
                    a(href='#') More Testimonials
