doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='bootstrap-5.0.2-dist/css/bootstrap.min.css')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
    link(rel='stylesheet' href='css/style.css')
    title Ufarm
#pdt-banner
    .banner_menu
        nav.navbar.navbar-expand-lg.navbar-light
            .container-fluid
                a.navbar-brand(href='#') Navbar
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNavAltMarkup.collapse.navbar-collapse
                    .navbar-nav
                        a.nav-link.active(aria-current='page' href='#') Home
    img.banner-img(src='/img/veg_banner.jpg' alt='')
    .pdt-wrd
        h2 Poultry
    .pdt-desc
        | Enjoy the best of both worlds with our organic fruits and vegetables. We deliver a changing selection of organic fruits and vegetables
        | to your door, sorting the week&apos;s healthy cooking and snacking in one swoop. Every variety is 100% organic and preserved for maximum flavour.
.pdt-main
    .pdt-category-boxes.mb-5
        h6 Poultry Boxes
    .container.mb-5.bxes
        .row.row-cols-1.row-cols-md-2.row-cols-lg-4.g-4
            .col
                .card.h-100
                    img.card-img-top(src='/img/veg-box.jpg' alt='...')
                    .card-body.mt-5.mb-5
                        h5.card-title.text-center
                            a.add2cart-btn.btn(href='#') Chicken Boxes
            .col
                .card.h-100
                    img.card-img-top(src='/img/veg-fruits_box.jpg' alt='...')
                    .card-body.mt-5.mb-5
                        h5.card-title.text-center
                            a.add2cart-btn.btn(href='#') Duck Boxes
            .col
                .card.h-100
                    img.card-img-top(src='/img/fruits_box.jpg' alt='...')
                    .card-body.mt-5.mb-5
                        h5.card-title.text-center
                            a.add2cart-btn.btn(href='#') Geese Boxes
            .col
                .card.h-100
                    img.card-img-top(src='/img/salads_boxes.jpg' alt='...')
                    .card-body.mt-5.mb-5
                        h5.card-title.text-center
                            a.add2cart-btn.btn(href='#') Turkey Boxes
    .pdt-category-boxes.mb-5
        h6 Other Boxes
    .container.other-section
        .row.row-cols-1.row-cols-md-2.g-4.justify-content-center
            .col-md-4
                .card.h-100
                    img.card-img-top(src='/img/horticulture.jpg' alt='...')
                    .card-body
                        .card-body.mt-3.mb-5.text-center
                            a.add2cart-btn.btn(href='/horticulture') Horticulture
            .col-md-4
                .card.h-100
                    img.card-img-top(src='/img/dairy.jpg' alt='...')
                    .card-body
                        .card-body.mt-3.mb-5.text-center
                            a.add2cart-btn.btn(href='/dairy') Dairy
#footer
    .container
        .row
            .col-md-4.p-3.mt-5
                h5 Urban Farmer:
                p From your farm to our stores and from our stores to your hand.
                h5 Our Clients:
                p From our stores to your household.
                i We strive to make your meals delicious
            .col-sm-4.col-md-4.p-3.mt-5
                h5 Pages:
                ul
                    li
                        a(href='/') Home
                    li
                        a(href='/categories_in_shop') Shop
                    li
                        a(href='/our_farmers') Our Farmers
                    li
                        a(href='#') About us
                    li
                        a(href='#') Testimonials
            .col-sm-4.col-md-4.p-3.mt-5
                h5 Information:
                h6 Main Office:
                ul
                    li Wandegeya Market
                    li South Wing - shop 2001A
                h6 Tel: 0789482852
                h5 Opening Hours
                ul
                    li Monday - Friday: 8am - 8pm
                    li Saturday - Sunday: 10am - 2pm
                h5 Socials
                .socials
                    ul
                        li
                            a(href='#') Facebook
                        li
                            a(href='#') whatsApp
                        li
                            a(href='#') Twitter
    .careof
        p.text-center &copy; 2022 Ufarm. All rights reserved
script(src='bootstrap-5.0.2-dist/js/bootstrap.min.js')
script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js' integrity='sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js' integrity='sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz' crossorigin='anonymous')
